/* src/index.css */
@import "tailwindcss";

/* Smooth Scroll Behavior */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
body {
  background-color: #ffffff;
  color: #0f172a; /* Slate-900 */
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* ===== themes ===== */
/* :root {
  --navbar-bg: rgba(255, 255, 255, 0.8);
  --navbar-text: #334155;
}
.dark {
  --navbar-bg: rgba(15, 23, 42, 0.8);
  --navbar-text: #334155;
} */
@layer base {
  :root {
    --color-text: #334155;
    --color-bg: #ffffff;
  }
  .dark {
    --color-text: #cbd5f5;
    --color-bg: #0f172a;
  }
  body {
    color: var(--color-text);
    background: var(--color-bg);
  }
}
